source_up
export RUSTFLAGS='--cfg reqwest_unstable'
export RUST_LOG=debug,supervisor=warn,hyper=warn,rustls=warn,h2=warn,tower=warn


env_sh() {
  cd ../conf/conn
  local i
  for i in $@; do
    set -o allexport
    source "$i".sh
    set +o allexport
  done

  cd $DIR
  unset -f env_sh
}

env_sh host kv gt redis mq pg mail clip nchan api
